@font-face {
  font-family: oswald;
  src: url("fonts/Oswald-Regular.ttf") format("truetype");
}
@font-face {
  font-family: droid-serif;
  src: url("fonts/DroidSerif-Regular-webfont.ttf") format("truetype");
}
@-webkit-keyframes loader {
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes loader {
  100% {
    transform: rotate(-360deg);
  }
}
@-webkit-keyframes nav-btn {
  100% {
    transform: scale(1.05);
  }
}
@keyframes nav-btn {
  100% {
    transform: scale(1.05);
  }
}
@-webkit-keyframes nav-border {
  100% {
    border-bottom: 2px solid #50f79b;
  }
}
@keyframes nav-border {
  100% {
    border-bottom: 2px solid #50f79b;
  }
}
@-webkit-keyframes opacity-animation {
  100% {
    opacity: 1;
  }
}
@keyframes opacity-animation {
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes bg-animation {
  0% {
    opacity: 0;
  }
  5%, 25% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  35% {
    transform: translateX(-5%);
  }
  100% {
    opacity: 0;
  }
}
@keyframes bg-animation {
  0% {
    opacity: 0;
  }
  5%, 25% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  35% {
    transform: translateX(-5%);
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes mail-animation {
  0% {
    transform: rotateX(0);
  }
  25%, 100% {
    transform: rotateX(180deg);
  }
}
@keyframes mail-animation {
  0% {
    transform: rotateX(0);
  }
  25%, 100% {
    transform: rotateX(180deg);
  }
}
@-webkit-keyframes color-animation {
  12% {
    opacity: 0;
  }
  13%, 100% {
    opacity: 1;
  }
}
@keyframes color-animation {
  12% {
    opacity: 0;
  }
  13%, 100% {
    opacity: 1;
  }
}
@-webkit-keyframes sheet-animation {
  0% {
    transform: translateY(0);
  }
  50%, 100% {
    transform: translateY(-13px);
  }
}
@keyframes sheet-animation {
  0% {
    transform: translateY(0);
  }
  50%, 100% {
    transform: translateY(-13px);
  }
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
* ::-moz-selection {
  background: #dfffec;
}
* ::selection {
  background: #dfffec;
}

body {
  background: #0a0a0a;
}

section {
  display: none;
}

.loader {
  z-index: 9999;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0a0a0a;
}
.loader__wheel {
  margin: 220px auto;
  text-align: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  -webkit-animation: nav-btn 500ms both infinite alternate ease-in-out;
          animation: nav-btn 500ms both infinite alternate ease-in-out;
}
.loader__wheel--img {
  -webkit-animation: loader 800ms infinite both linear;
          animation: loader 800ms infinite both linear;
}

.name {
  font-family: oswald;
  opacity: 0;
  z-index: 3;
  position: fixed;
  top: 0;
  left: 0;
  margin: 4px 20px;
  font-size: 1.5rem;
  color: #50f79b;
  text-align: start;
}
.name--animation {
  -webkit-animation: opacity-animation 300ms both;
          animation: opacity-animation 300ms both;
}

.bg {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.bg__img {
  position: absolute;
  top: 0;
  left: auto;
  right: -5%;
  bottom: auto;
  width: 105%;
  min-width: 1600px;
  max-width: 1600px;
}
@media screen and (max-width: 1199px) {
  .bg__img {
    right: -10%;
  }
}
@media screen and (max-width: 991px) {
  .bg__img {
    right: -15%;
  }
}
@media screen and (max-width: 767px) {
  .bg__img {
    right: -20%;
  }
}
@media screen and (max-width: 620px) {
  .bg__img {
    display: none;
  }
}
.bg__img--1 {
  -webkit-animation: bg-animation 40s infinite both linear;
          animation: bg-animation 40s infinite both linear;
}
.bg__img--2 {
  -webkit-animation: bg-animation 40s 10s infinite both linear;
          animation: bg-animation 40s 10s infinite both linear;
}
.bg__img--3 {
  -webkit-animation: bg-animation 40s 20s infinite both linear;
          animation: bg-animation 40s 20s infinite both linear;
}
.bg__img--4 {
  -webkit-animation: bg-animation 40s 30s infinite both linear;
          animation: bg-animation 40s 30s infinite both linear;
}

.levels__html-level {
  margin-top: 5px;
  display: inline-block;
  position: relative;
  border: 1px solid #50f79b;
  height: 10px;
  width: 80px;
  border-radius: 10px;
}
.levels__html-level--in {
  border-radius: 10px 0 0 10px;
  position: absolute;
  top: -1px;
  bottom: -1px;
  left: -1px;
  background: #50f79b;
  transform-origin: left;
  width: 55%;
}
.levels__css-level {
  margin-top: 5px;
  display: inline-block;
  position: relative;
  border: 1px solid #50f79b;
  height: 10px;
  width: 80px;
  border-radius: 10px;
}
.levels__css-level--in {
  border-radius: 10px 0 0 10px;
  position: absolute;
  top: -1px;
  bottom: -1px;
  left: -1px;
  background: #50f79b;
  transform-origin: left;
  width: 65%;
}
.levels__js-level {
  margin-top: 5px;
  display: inline-block;
  position: relative;
  border: 1px solid #50f79b;
  height: 10px;
  width: 80px;
  border-radius: 10px;
}
.levels__js-level--in {
  border-radius: 10px 0 0 10px;
  position: absolute;
  top: -1px;
  bottom: -1px;
  left: -1px;
  background: #50f79b;
  transform-origin: left;
  width: 50%;
}

.btn-download {
  margin: 3px;
}
.btn-download:hover {
  cursor: pointer;
  -webkit-animation: nav-btn 400ms both infinite alternate cubic-bezier(0.13, 0, 0.86, 1);
          animation: nav-btn 400ms both infinite alternate cubic-bezier(0.13, 0, 0.86, 1);
}

.btn-linkedin {
  display: none;
  opacity: 0;
  z-index: 3;
  position: fixed;
  top: 0;
  right: 0;
  margin: 30px 115px;
  transition: transform 200ms ease-in-out;
}
@media screen and (max-width: 620px) {
  .btn-linkedin {
    margin: 30px 80px;
  }
}
.btn-linkedin--animation {
  display: block;
  -webkit-animation: opacity-animation 300ms both;
          animation: opacity-animation 300ms both;
}
.btn-linkedin:hover {
  transform: scale(1.1);
}

.btn-mail {
  display: none;
  opacity: 0;
  z-index: 3;
  position: fixed;
  top: 0;
  right: 0;
  margin: 33px 30px;
  width: 60px;
  height: 40px;
}
@media screen and (max-width: 620px) {
  .btn-mail {
    margin: 33px 10px;
  }
}
.btn-mail--animation {
  display: block;
  -webkit-animation: opacity-animation 300ms both;
          animation: opacity-animation 300ms both;
}
.btn-mail .mail {
  position: relative;
  cursor: pointer;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 200ms ease-in-out;
}
.btn-mail .mail:hover {
  transform: scale(1.1);
}
.btn-mail .mail__inside {
  z-index: 1;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: #08a64f;
}
.btn-mail .mail__sheet {
  z-index: 2;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: 66%;
  height: 90%;
  background: #e9e9e9;
}
.btn-mail .mail__sheet.sheet-animation {
  -webkit-animation: sheet-animation 1000ms 170ms cubic-bezier(0.44, 0, 0.22, 0.73) both alternate 2;
          animation: sheet-animation 1000ms 170ms cubic-bezier(0.44, 0, 0.22, 0.73) both alternate 2;
}
.btn-mail .mail__body {
  z-index: 3;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 0;
  width: 0;
  border-top: 20px solid transparent;
  border-left: 30px solid #0ad766;
  border-right: 30px solid #0ad766;
  border-bottom: 20px solid #0ad766;
}
.btn-mail .mail__head {
  z-index: 4;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 0;
  height: 0;
  border: 0 solid transparent;
  border-right-width: 30px;
  border-left-width: 30px;
  border-top: 20px solid #50f79b;
}
.btn-mail .mail__head.mail-animation {
  transform-origin: top;
  -webkit-animation: mail-animation 1200ms ease-in-out both alternate 2;
          animation: mail-animation 1200ms ease-in-out both alternate 2;
}
.btn-mail .mail__head.mail-animation::after {
  content: "";
  position: absolute;
  top: -20px;
  bottom: -20px;
  right: -30px;
  left: -30px;
  width: 0;
  height: 0;
  border: 0 solid transparent;
  border-right-width: 30px;
  border-left-width: 30px;
  border-top: 20px solid #08a64f;
  opacity: 0;
  -webkit-animation: color-animation 1200ms ease-in-out both alternate 2;
          animation: color-animation 1200ms ease-in-out both alternate 2;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 140px;
  margin-bottom: 5px;
  min-width: 620px;
}
.header__titre {
  font-family: oswald;
  font-size: 5rem;
  text-align: center;
  color: #50f79b;
}

.nav {
  z-index: 2;
  margin-bottom: 400px;
  padding-top: 17px;
  padding-bottom: 17px;
  width: 100%;
  min-width: 620px;
  max-height: 77px;
  min-height: 77px;
  background: #0a0a0a;
  border-bottom: 2px solid rgba(0, 0, 0, 0);
}
.nav.nav--animation {
  -webkit-animation: nav-border 700ms both;
          animation: nav-border 700ms both;
}
.nav__btn-menu {
  display: none;
  color: #dfffec;
  font-family: oswald;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: 70px;
  border-radius: 50px;
  border: 2px solid #50f79b;
  margin: auto;
  padding: 0 10px 0 20px;
  font-size: 3rem;
  text-align: center;
  transition: color 200ms 100ms, background 200ms, transform 200ms;
}
.nav__btn-menu:hover {
  cursor: pointer;
  color: #0a0a0a;
  background: #50f79b;
  transform: scale(1.1);
}
@media screen and (max-width: 1199px) {
  .nav__btn-menu {
    display: block;
  }
}
.nav__container {
  margin: auto;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 1199px) {
  .nav__container {
    display: none;
  }
}
.nav__container--menu {
  display: none;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 7px auto;
  background: #0a0a0a;
  position: relative;
  flex-direction: column;
  align-items: center;
  border-radius: 7px;
  border: 2px solid #50f79b;
}
.nav__container--menu .nav__btn {
  min-width: 190px;
  margin: 7px;
  border-radius: 7px;
}
.nav__btn {
  text-align: center;
  font-family: oswald;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  font-size: 2rem;
  margin: 0 15px;
  padding: 15px;
  border: 2px solid #50f79b;
  border-radius: 50px;
  color: #dfffec;
  transition: color 200ms 100ms, background 200ms;
}
.nav__btn:hover {
  cursor: pointer;
  color: #0a0a0a;
  background: #50f79b;
  -webkit-animation: nav-btn 400ms both infinite alternate cubic-bezier(0.13, 0, 0.86, 1);
          animation: nav-btn 400ms both infinite alternate cubic-bezier(0.13, 0, 0.86, 1);
}

.section-bloc {
  z-index: 1;
  width: 60%;
  min-width: 550px;
  margin: 130px auto;
  margin-bottom: 50px;
  padding: 30px;
  border-radius: 7px;
  border: 2px solid #50f79b;
  background: #111111;
}

.identite-bloc {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.identite-bloc .text:nth-child(1) {
  width: 90%;
}
.identite-bloc .text:nth-child(2) {
  width: 45%;
  min-width: 360px;
}
.identite-bloc .text:nth-child(3) {
  width: 45%;
  min-width: 360px;
}
.identite-bloc .text:nth-child(4) {
  width: 90%;
}
.identite-bloc__competences {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.identite-bloc__competences h3 {
  width: 100%;
}
.identite-bloc__competences p:nth-child(1) {
  width: 35%;
}
.identite-bloc__competences div {
  width: 35%;
}

.text {
  text-align: center;
  color: #dfffec;
}
.text__titre {
  font-family: oswald;
  font-size: 3rem;
  color: #50f79b;
}
.text__img {
  margin-bottom: 10px;
  width: 230px;
}
.text__p {
  font-size: 1.5rem;
  margin-bottom: 10px;
}
.text__p--strong {
  font-weight: bold;
  font-family: oswald;
}
.text__p--info {
  font-family: droid-serif;
  font-style: normal;
}
.text__p--low {
  font-family: droid-serif;
  font-size: 1rem;
  font-style: normal;
}

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIi4uL3Njc3MvdXRpbHMvdXRpbHMuc2NzcyIsIm5vdF9wcmVmaXhlZC9zdHlsZS5jc3MiLCIuLi9zY3NzL2Jhc2UvYmFzZS5zY3NzIiwiLi4vc2Nzcy9jb21wb25lbnRzL2NvbXBvbmVudHMuc2NzcyIsIi4uL3Njc3MvbGF5b3V0cy9sYXlvdXRzLnNjc3MiXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IkFBQUE7RUFDSSxtQkFBQTtFQUNBLHVEQUFBO0FDQ0o7QURFQTtFQUNJLHdCQUFBO0VBQ0EsbUVBQUE7QUNBSjtBRCtFQTtFQUNJO0lBQ0ksMEJBQUE7RUM3RU47QUFDRjtBRDBFQTtFQUNJO0lBQ0ksMEJBQUE7RUM3RU47QUFDRjtBRGdGQTtFQUNJO0lBQ0ksc0JBQUE7RUM5RU47QUFDRjtBRDJFQTtFQUNJO0lBQ0ksc0JBQUE7RUM5RU47QUFDRjtBRGlGQTtFQUNJO0lBQ0ksZ0NBQUE7RUMvRU47QUFDRjtBRDRFQTtFQUNJO0lBQ0ksZ0NBQUE7RUMvRU47QUFDRjtBRGtGQTtFQUNJO0lBQ0ksVUFBQTtFQ2hGTjtBQUNGO0FENkVBO0VBQ0k7SUFDSSxVQUFBO0VDaEZOO0FBQ0Y7QURtRkE7RUFDSTtJQUNJLFVBQUE7RUNqRk47RURtRkU7SUFDSSxVQUFBO0VDakZOO0VEbUZFO0lBQ0ksVUFBQTtFQ2pGTjtFRG1GRTtJQUNJLDBCQUFBO0VDakZOO0VEbUZFO0lBQ0ksVUFBQTtFQ2pGTjtBQUNGO0FEa0VBO0VBQ0k7SUFDSSxVQUFBO0VDakZOO0VEbUZFO0lBQ0ksVUFBQTtFQ2pGTjtFRG1GRTtJQUNJLFVBQUE7RUNqRk47RURtRkU7SUFDSSwwQkFBQTtFQ2pGTjtFRG1GRTtJQUNJLFVBQUE7RUNqRk47QUFDRjtBRG9GQTtFQUNJO0lBQ0kscUJBQUE7RUNsRk47RURvRkU7SUFDSSwwQkFBQTtFQ2xGTjtBQUNGO0FENEVBO0VBQ0k7SUFDSSxxQkFBQTtFQ2xGTjtFRG9GRTtJQUNJLDBCQUFBO0VDbEZOO0FBQ0Y7QURxRkE7RUFDSTtJQUNJLFVBQUE7RUNuRk47RURxRkU7SUFDSSxVQUFBO0VDbkZOO0FBQ0Y7QUQ2RUE7RUFDSTtJQUNJLFVBQUE7RUNuRk47RURxRkU7SUFDSSxVQUFBO0VDbkZOO0FBQ0Y7QURzRkE7RUFDSTtJQUNJLHdCQUFBO0VDcEZOO0VEc0ZFO0lBQ0ksNEJBQUE7RUNwRk47QUFDRjtBRDhFQTtFQUNJO0lBQ0ksd0JBQUE7RUNwRk47RURzRkU7SUFDSSw0QkFBQTtFQ3BGTjtBQUNGO0FDcEVBO0VBQ0ksU0FBQTtFQUNBLFVBQUE7RUFDQSxTQUFBO0VBQ0EsbUJBQUE7RUFDQSx5QkFBQTtLQUFBLHNCQUFBO01BQUEscUJBQUE7VUFBQSxpQkFBQTtBRHNFSjtBQ3JFSTtFQUNJLG1CRkdRO0FDb0VoQjtBQ3hFSTtFQUNJLG1CRkdRO0FDb0VoQjs7QUNuRUE7RUFDSSxtQkZDTztBQ3FFWDs7QUNuRUE7RUFDSSxhQUFBO0FEc0VKOztBRXRGQTtFQUNJLGFBQUE7RUFDQSxlQUFBO0VBQ0EsTUFBQTtFQUNBLFFBQUE7RUFDQSxTQUFBO0VBQ0EsT0FBQTtFQUNBLFdBQUE7RUFDQSxZQUFBO0VBQ0EsbUJISU87QUNxRlg7QUV4Rkk7RUFDSSxrQkFBQTtFQUNBLGtCQUFBO0VBQ0EsMEJBQUE7RUFBQSx1QkFBQTtFQUFBLGtCQUFBO0VBQ0EsMkJBQUE7RUFBQSx3QkFBQTtFQUFBLG1CQUFBO0VBQ0Esb0VBQUE7VUFBQSw0REFBQTtBRjBGUjtBRXpGUTtFQUNJLG9EQUFBO1VBQUEsNENBQUE7QUYyRlo7O0FFckZBO0VBQ0ksbUJBQUE7RUFDQSxVQUFBO0VBQ0EsVUFBQTtFQUNBLGVBQUE7RUFDQSxNQUFBO0VBQ0EsT0FBQTtFQUNBLGdCQUFBO0VBQ0EsaUJBQUE7RUFDQSxjSHJCYztFR3NCZCxpQkFBQTtBRndGSjtBRXZGSTtFQUNJLCtDQUFBO1VBQUEsdUNBQUE7QUZ5RlI7O0FFckZBO0VBQ0ksV0FBQTtFQUNBLGVBQUE7RUFDQSxNQUFBO0VBQ0EsT0FBQTtFQUNBLFFBQUE7RUFDQSxTQUFBO0FGd0ZKO0FFdkZJO0VBQ0ksa0JBQUE7RUFDQSxNQUFBO0VBQ0EsVUFBQTtFQUNBLFVBQUE7RUFLQSxZQUFBO0VBQ0EsV0FBQTtFQUNBLGlCQUFBO0VBQ0EsaUJBQUE7QUZxRlI7QURoR0k7RUdEQTtJQUswQixXQUFBO0VGZ0c1QjtBQUNGO0FEM0dJO0VHS0E7SUFNeUIsV0FBQTtFRm9HM0I7QUFDRjtBRHRISTtFR1dBO0lBT3lCLFdBQUE7RUZ3RzNCO0FBQ0Y7QURqSUk7RUdpQkE7SUFRdUIsYUFBQTtFRjRHekI7QUFDRjtBRXhHUTtFQUNJLHdEQUFBO1VBQUEsZ0RBQUE7QUYwR1o7QUV4R1E7RUFDSSw0REFBQTtVQUFBLG9EQUFBO0FGMEdaO0FFeEdRO0VBQ0ksNERBQUE7VUFBQSxvREFBQTtBRjBHWjtBRXhHUTtFQUNJLDREQUFBO1VBQUEsb0RBQUE7QUYwR1o7O0FFcEdJO0VIUkEsZUFBQTtFQUNBLHFCQUFBO0VBQ0Esa0JBQUE7RUFDQSx5QkFBQTtFQUNBLFlBQUE7RUFDQSxXQUFBO0VBQ0EsbUJBQUE7QUNnSEo7QUQvR0k7RUFDSSw0QkFBQTtFQUNBLGtCQUFBO0VBQ0EsU0FBQTtFQUNBLFlBQUE7RUFDQSxVQUFBO0VBQ0EsbUJBckVVO0VBc0VWLHNCQUFBO0VBQ0EsVUdOZTtBRnVIdkI7QUVySEk7RUhYQSxlQUFBO0VBQ0EscUJBQUE7RUFDQSxrQkFBQTtFQUNBLHlCQUFBO0VBQ0EsWUFBQTtFQUNBLFdBQUE7RUFDQSxtQkFBQTtBQ21JSjtBRGxJSTtFQUNJLDRCQUFBO0VBQ0Esa0JBQUE7RUFDQSxTQUFBO0VBQ0EsWUFBQTtFQUNBLFVBQUE7RUFDQSxtQkFyRVU7RUFzRVYsc0JBQUE7RUFDQSxVR0hlO0FGdUl2QjtBRXJJSTtFSGRBLGVBQUE7RUFDQSxxQkFBQTtFQUNBLGtCQUFBO0VBQ0EseUJBQUE7RUFDQSxZQUFBO0VBQ0EsV0FBQTtFQUNBLG1CQUFBO0FDc0pKO0FEckpJO0VBQ0ksNEJBQUE7RUFDQSxrQkFBQTtFQUNBLFNBQUE7RUFDQSxZQUFBO0VBQ0EsVUFBQTtFQUNBLG1CQXJFVTtFQXNFVixzQkFBQTtFQUNBLFVBQUE7QUN1SlI7O0FFbkpBO0VBQ0ksV0FBQTtBRnNKSjtBRXJKSTtFQUNJLGVBQUE7RUFDQSx1RkFBQTtVQUFBLCtFQUFBO0FGdUpSOztBRW5KQTtFQUNJLGFBQUE7RUFDQSxVQUFBO0VBQ0EsVUFBQTtFQUNBLGVBQUE7RUFDQSxNQUFBO0VBQ0EsUUFBQTtFQUNBLGtCQUFBO0VBRUEsdUNBQUE7QUZxSko7QUQvTkk7RUdpRUo7SUFRd0IsaUJBQUE7RUYwSnRCO0FBQ0Y7QUV6Skk7RUFDSSxjQUFBO0VBQ0EsK0NBQUE7VUFBQSx1Q0FBQTtBRjJKUjtBRXpKSTtFQUNJLHFCQUFBO0FGMkpSOztBRXZKQTtFQUNJLGFBQUE7RUFDQSxVQUFBO0VBQ0EsVUFBQTtFQUNBLGVBQUE7RUFDQSxNQUFBO0VBQ0EsUUFBQTtFQUNBLGlCQUFBO0VBRUEsV0gzR1M7RUc0R1QsWUgzR1U7QUNvUWQ7QUR2UEk7RUdvRko7SUFRd0IsaUJBQUE7RUYrSnRCO0FBQ0Y7QUU3Skk7RUFDSSxjQUFBO0VBQ0EsK0NBQUE7VUFBQSx1Q0FBQTtBRitKUjtBRTdKSTtFQUNJLGtCQUFBO0VBQ0EsZUFBQTtFQUNBLFdBQUE7RUFDQSxZQUFBO0VBQ0EsNEJBQUE7RUFDQSx1Q0FBQTtBRitKUjtBRTlKUTtFQUNJLHFCQUFBO0FGZ0taO0FFOUpRO0VBQ0ksVUFBQTtFSGhGUixrQkFBQTtFQUNBLE1BQUE7RUFDQSxTQUFBO0VBQ0EsUUFBQTtFQUNBLE9BQUE7RUc4RVEsbUJBQUE7QUZvS1o7QUVsS1E7RUFDSSxVQUFBO0VIckZSLGtCQUFBO0VBQ0EsTUFBQTtFQUNBLFNBQUE7RUFDQSxRQUFBO0VBQ0EsT0FBQTtFR21GUSxZQUFBO0VBQ0EsVUFBQTtFQUNBLFdBQUE7RUFDQSxtQkFBQTtBRndLWjtBRXZLWTtFQUNJLGtHQUFBO1VBQUEsMEZBQUE7QUZ5S2hCO0FFdEtRO0VBQ0ksVUFBQTtFSGhHUixrQkFBQTtFQUNBLE1BQUE7RUFDQSxTQUFBO0VBQ0EsUUFBQTtFQUNBLE9BQUE7RUc4RlEsU0FBQTtFQUNBLFFBQUE7RUFDQSxrQ0FBQTtFQUNBLCtCQUFBO0VBQ0EsZ0NBQUE7RUFDQSxpQ0FBQTtBRjRLWjtBRTFLUTtFQUNJLFVBQUE7RUgxR1Isa0JBQUE7RUFDQSxNQUFBO0VBQ0EsU0FBQTtFQUNBLFFBQUE7RUFDQSxPQUFBO0VHd0dRLFFBQUE7RUFDQSxTQUFBO0VBQ0EsMkJBQUE7RUFDQSx3Qkh6Skc7RUcwSkgsdUJIMUpHO0VHMkpILDhCQUFBO0FGZ0xaO0FFL0tZO0VBQ0kscUJBQUE7RUFDQSxxRUFBQTtVQUFBLDZEQUFBO0FGaUxoQjtBRWhMZ0I7RUFDSSxXQUFBO0VBQ0Esa0JBQUE7RUFDQSxVQUFBO0VBQ0EsYUFBQTtFQUNBLFlBQUE7RUFDQSxXQUFBO0VBQ0EsUUFBQTtFQUNBLFNBQUE7RUFDQSwyQkFBQTtFQUNBLHdCSHpLTDtFRzBLSyx1QkgxS0w7RUcyS0ssOEJBQUE7RUFDQSxVQUFBO0VBQ0Esc0VBQUE7VUFBQSw4REFBQTtBRmtMcEI7O0FHaFhBO0VBQ0ksYUFBQTtFQUNBLHNCQUFBO0VBQ0EsbUJBQUE7RUFDQSxpQkFBQTtFQUNBLGtCQUFBO0VBQ0EsZ0JBQUE7QUhtWEo7QUdsWEk7RUFDSSxtQkFBQTtFQUNBLGVBQUE7RUFDQSxrQkFBQTtFQUNBLGNBQUE7QUhvWFI7O0FHaFhBO0VBQ0ksVUFBQTtFQUNBLG9CQUFBO0VBQ0EsaUJBQUE7RUFDQSxvQkFBQTtFQUNBLFdBQUE7RUFDQSxnQkFBQTtFQUNBLGdCQUFBO0VBQ0EsZ0JBQUE7RUFDQSxtQkpYTztFSVlQLHlDQUFBO0FIbVhKO0FHbFhJO0VBQ0ksd0NBQUE7VUFBQSxnQ0FBQTtBSG9YUjtBR2xYSTtFQUNJLGFBQUE7RUFDQSxjSnJCUTtFSXNCUixtQkFBQTtFQUNBLDBCQUFBO0VBQUEsdUJBQUE7RUFBQSxrQkFBQTtFQUNBLFlBQUE7RUFDQSxtQkFBQTtFQUNBLHlCQUFBO0VBQ0EsWUFBQTtFQUNBLHNCQUFBO0VBQ0EsZUFBQTtFQUNBLGtCQUFBO0VBQ0EsZ0VBQUE7QUhvWFI7QUduWFE7RUFDSSxlQUFBO0VBQ0EsY0ovQkQ7RUlnQ0MsbUJKbENNO0VJbUNOLHFCQUFBO0FIcVhaO0FEcFhJO0VJbEJBO0lBb0JRLGNBQUE7RUhzWFY7QUFDRjtBR3BYSTtFQUNJLFlBQUE7RUFDQSxhQUFBO0VBQ0EsdUJBQUE7QUhzWFI7QUQ5WEk7RUlLQTtJQUtRLGFBQUE7RUh3WFY7QUFDRjtBR3ZYUTtFQUNJLGFBQUE7RUFDQSwwQkFBQTtFQUFBLHVCQUFBO0VBQUEsa0JBQUE7RUFDQSxnQkFBQTtFQUNBLG1CSmxERDtFSW1EQyxrQkFBQTtFQUNBLHNCQUFBO0VBQ0EsbUJBQUE7RUFDQSxrQkFBQTtFQUNBLHlCQUFBO0FIeVhaO0FHeFhZO0VBQ0ksZ0JBQUE7RUFDQSxXQUFBO0VBQ0Esa0JBQUE7QUgwWGhCO0FHdFhJO0VBQ0ksa0JBQUE7RUFDQSxtQkFBQTtFQUNBLDhCQUFBO0VBQUEsMkJBQUE7RUFBQSxzQkFBQTtFQUNBLGVBQUE7RUFDQSxjQUFBO0VBQ0EsYUFBQTtFQUNBLHlCQUFBO0VBQ0EsbUJBQUE7RUFDQSxjSjNFUTtFSTRFUiwrQ0FBQTtBSHdYUjtBR3ZYUTtFQUNJLGVBQUE7RUFDQSxjSjVFRDtFSTZFQyxtQkovRU07RUlnRk4sdUZBQUE7VUFBQSwrRUFBQTtBSHlYWjs7QUdwWEE7RUFDSSxVQUFBO0VBQ0EsVUFBQTtFQUNBLGdCQUFBO0VBQ0Esa0JBQUE7RUFDQSxtQkFBQTtFQUNBLGFBQUE7RUFDQSxrQkFBQTtFQUNBLHlCQUFBO0VBQ0EsbUJKN0ZhO0FDb2RqQjs7QUdwWEE7RUFDSSxhQUFBO0VBQ0EsZUFBQTtFQUNBLHVCQUFBO0FIdVhKO0FHclhRO0VBQ0ksVUFBQTtBSHVYWjtBR3JYUTtFQUNJLFVBQUE7RUFDQSxnQkFBQTtBSHVYWjtBR3BYUTtFQUNJLFVBQUE7RUFDQSxnQkFBQTtBSHNYWjtBR3BYUTtFQUNJLFVBQUE7QUhzWFo7QUduWEk7RUFDSSxhQUFBO0VBQ0EsZUFBQTtFQUNBLHVCQUFBO0FIcVhSO0FHcFhRO0VBQ0ksV0FBQTtBSHNYWjtBR3BYUTtFQUNJLFVBQUE7QUhzWFo7QUdwWFE7RUFDSSxVQUFBO0FIc1haOztBR2pYQTtFQUNJLGtCQUFBO0VBQ0EsY0p6SVk7QUM2ZmhCO0FHblhJO0VBQ0ksbUJBQUE7RUFDQSxlQUFBO0VBQ0EsY0o1SVU7QUNpZ0JsQjtBR25YSTtFQUNJLG1CQUFBO0VBQ0EsWUFBQTtBSHFYUjtBR25YSTtFQUNJLGlCQUFBO0VBQ0EsbUJBQUE7QUhxWFI7QUdwWFE7RUFDSSxpQkFBQTtFQUNBLG1CQUFBO0FIc1haO0FHcFhRO0VBQ0ksd0JBQUE7RUFDQSxrQkFBQTtBSHNYWjtBR3BYUTtFQUNJLHdCQUFBO0VBQ0EsZUFBQTtFQUNBLGtCQUFBO0FIc1haIiwiZmlsZSI6InN0eWxlLmNzcyJ9 */