@font-face{
    font-family: oswald;
    src: url("fonts/Oswald-Regular.ttf") format("truetype");
}

@font-face {
    font-family: droid-serif;
    src: url('fonts/DroidSerif-Regular-webfont.ttf') format("truetype");
}

$color-primary: rgb(223, 255, 236);
$color-secondary: #50f79b;
$color-tertiary: rgb(17, 17, 17);
$color-bg: rgb(10, 10, 10);
$color-link: #A5FFCA;

$width-mail: 60px;
$height-mail: 40px;
$width-border: $width-mail/2;
$height-border: $height-mail/2;

$breakpoints:(
    mini: 620px,
    mobile: 767px,
    tablet: 991px,
    desktop: 1199px,
    large-desktop: 1399px
);

@mixin mini-only{
    @media screen and (max-width: map-get($breakpoints, mini)){
        @content;
    }
}

@mixin mobile-only{
    @media screen and (max-width: map-get($breakpoints, mobile)){
        @content;
    }
}

@mixin tablet-only{
    @media screen and (max-width: map-get($breakpoints, tablet)){
        @content;
    }
}

@mixin desktop-only{
    @media screen and (max-width: map-get($breakpoints, desktop)){
        @content;
    }
}

@mixin large-desktop-only{
    @media screen and (max-width: map-get($breakpoints, large-desktop)){
        @content;
    }
}

@mixin pseudo-position{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

@mixin level($width){
    margin-top: 5px;
    display: inline-block;
    position: relative;
    border: 1px solid $color-secondary;
    height: 10px;
    width: 80px;
    border-radius: 10px;
    &--in{
        border-radius: 10px 0 0 10px;
        position: absolute;
        top: -1px;
        bottom: -1px;
        left: -1px;
        background: $color-secondary;
        transform-origin: left;
        width: $width;
    }
}

@keyframes loader{
    100%{
        transform: rotate(-360deg);
    }
}

@keyframes nav-btn{
    100%{
        transform: scale(1.05);
    }
}

@keyframes nav-border{
    100%{
        border-bottom: 2px solid $color-secondary;
    }
}

@keyframes opacity-animation{
    100%{
        opacity: 1;
    }
}

@keyframes bg-animation{
    0%{
        opacity: 0;
    }
    5%,25%{
        opacity: 1;
    }
    30%{
        opacity: 0;
    }
    35%{
        transform: translateX(-5%);
    }
    100%{
        opacity: 0;
    }
}

@keyframes mail-animation{
    0%{
        transform: rotateX(0);
    }
    25%, 100%{
        transform: rotateX(180deg);
    }
}

@keyframes color-animation{
    12%{
        opacity: 0;
    }
    13%,100%{
        opacity: 1;
    }
}

@keyframes sheet-animation{
    0%{
        transform: translateY(0);
    }
    50%, 100%{
        transform: translateY(-13px);
    }
}