.name{
    font-family: oswald, Calibri, 'Trebuchet MS', sans-serif;
    opacity: 0;
    z-index: 3;
    position: fixed;
    top: 0;
    left: 0;
    margin: 4px 20px;
    font-size: 1.5rem;
    color: $color-secondary;
    text-align: start;
    &--animation{
        animation: opacity-animation 300ms both;
    }
}

.bg{
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    &__img{
        position: absolute;
        top: 0;
        left: auto;
        right: -5%;
        @include desktop-only{right: -10%;}
        @include tablet-only{right: -15%;}
        @include mobile-only{right: -20%;}
        @include mini-only{display: none;}
        bottom: auto;
        width: 105%;
        min-width: 1500px;
        max-width: 1600px;
        &--1{
            animation: bg-animation 40s infinite both linear;
        }
        &--2{
            animation: bg-animation 40s 10s infinite both linear;
        }
        &--3{
            animation: bg-animation 40s 20s infinite both linear;
        }
        &--4{
            animation: bg-animation 40s 30s infinite both linear;
        }
    }
}

.levels{
    &__html-level{
        @include level(55%);
    }
    &__css-level{
        @include level(65%);
    }
    &__js-level{
        @include level(50%);
    }
}

.btn-download{
    margin: 3px;
    &:hover{
        cursor: pointer;
        animation: nav-btn 400ms both infinite alternate cubic-bezier(.13,0,.86,1);
    }
}

.btn-linkedin{
    display: none;
    opacity: 0;
    z-index: 3;
    position: fixed;
    top: 0;
    right: 0;
    margin: 30px 115px;
    @include mini-only{ margin: 30px 80px;}
    transition: transform 200ms ease-in-out;
    &--animation{
        display: block;
        animation: opacity-animation 300ms both;
    }
    &:hover{
        transform: scale(1.1);
    }
}

.btn-mail{
    display: none;
    opacity: 0;
    z-index: 3;
    position: fixed;
    top: 0;
    right: 0;
    margin: 33px 30px;
    @include mini-only{ margin: 33px 10px;}
    width: $width-mail;
    height: $height-mail;
    &--animation{
        display: block;
        animation: opacity-animation 300ms both;
    }
    .mail{
        position: relative;
        cursor: pointer;
        width: 100%;
        height: 100%;
        transform-style: preserve-3d;
        transition: transform 200ms ease-in-out;
        &:hover{
            transform: scale(1.1);
        }
        &__inside{
            z-index: 1;
            @include pseudo-position;
            background: darken($color-secondary, 30);
        }
        &__sheet{
            z-index: 2;
            @include pseudo-position;
            margin: auto;
            width: 66%;
            height: 90%;
            background: rgb(233, 233, 233);
            &.sheet-animation{
                animation: sheet-animation 1000ms 170ms cubic-bezier(.44,0,.22,.73) both alternate 2;
            }
        }
        &__body{
            z-index: 3;
            @include pseudo-position;
            height: 0;
            width: 0;
            border-top: $height-border solid transparent;
            border-left: $width-border solid darken($color-secondary, 20);
            border-right: $width-border solid darken($color-secondary, 20);
            border-bottom: $height-border solid darken($color-secondary, 20);
        }
        &__head{
            z-index: 4;
            @include pseudo-position;
            width: 0;
            height: 0;
            border: 0 solid transparent;
            border-right-width: $width-border;
            border-left-width: $width-border;
            border-top: $height-border solid $color-secondary;
            &.mail-animation{
                transform-origin: top;
                animation: mail-animation 1200ms ease-in-out both alternate 2;
                &::after{
                    content:"";
                    position:absolute;
                    top: -$height-border;
                    bottom: -$height-border;
                    right: -$width-border;
                    left: -$width-border;
                    width: 0;
                    height: 0;
                    border: 0 solid transparent;
                    border-right-width: $width-border;
                    border-left-width: $width-border;
                    border-top: $height-border solid darken($color-secondary, 30);
                    opacity: 0;
                    animation: color-animation 1200ms ease-in-out both alternate 2;
                }
            }
        }
    }
}